/*Overall body's configs*/
body{
    margin: 0%;
    padding: 0%;
    background-color: #1A1A1A;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #262626;
    padding: 10px 50px;
    margin: 15px;
    border-radius: 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav img {
    width: 60px;
    border-radius: 50%;
    border: 2px solid #D4AF37;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 8px 18px;
    margin: 0px 30px;
    border-radius: 40px;
    font-weight: 500;
    transition: background 0.5s, color 0.5s;
}

nav a:hover {
    cursor: pointer;
    background-color: #D4AF37;
    color: #1A1A1A;
}

nav a:active {
    background-color: #b9972f;
    transform: scale(0.95);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 90px 100px;
}

.hero-text {
    color: #F2F2F2;
    font-size: 30px;
    margin-left: 75px;
}

.hero-pic img {
    width: 280px;
    margin-right: 75px;
    border-radius: 35px;
    border: 2px solid #D4AF37;
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column; 
    margin: 40px 20px; 
    padding: 10px 15px;
    text-align: center;
  }

  .hero-text {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .hero-pic img {
    width: 80%;
    margin-right: 0;
  }

  nav {
    flex-direction: column;
    padding: 10px 20px;
  }

  nav a {
    margin: 10px 0;
  }
}