/*Main configs*/

body {
    background-image: url(images/bg.png);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    color: white;
}

/*-----------------------------------------------*/

/*Navigation-bar configs*/

.navbar {
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 20px rgb(0,0,0);
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 100px;
    border: 1px solid rgba(255, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
    padding: 5px 10px;
}

.navbar img {
    border-radius: 100%;
    width: 55px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

/*-----------------------------------------------*/

/*Hero section configs*/

.hero {
    font-family: 'creepster', cursive;
    text-shadow: 0 0 10px white;
    font-size: 50px;
    text-align: center;
    margin: 220px 0;
}

/*-----------------------------------------------*/

/*-----------------------------------------------*/

/*-----------------------------------------------*/

/*-----------------------------------------------*/

/*-----------------------------------------------*/

/*-----------------------------------------------*/

/*-----------------------------------------------*/
